:root {
    --vermelho: #ED1B2E;
    --preto: #000000;
    --branco: #ffffff;
    --rozinha: #ca4141, 30%;
    --fundo: #FFFFFF, 10%;
    --font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* menu */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3d3838;
}


h1.logo{
    color: white;
}

.menu {
    list-style: none;
    /* border: 1px solid #c0c0c0; */
    float: left;
    height: 50px;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: rgb(48, 44, 44);
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    /* border: 1px solid #c0c0c0; */
    display: block;
    width: 150px;
}

.principal {
    display: flex;
    flex-direction: column;
}

label{
    margin-left: 5px;
    font-weight: 700;
}

button{
    width: 98%;
    height: 25px;
    margin: auto 1px;
    padding: auto auto;
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 900;
    margin-top: 3px;
    margin-bottom: 5px;
}
h2{
    font-size: 15px;
    margin-left: 20px;
}
.bloco h3{
    text-align: center;
}
.bloco span{
    font-style: italic;
    text-justify: distribute;
}
@media ( min-width: 150px) {
    body {
        background-color: silver;
    }
    .containner{
        display: flex;
        flex-direction: column;
        width: 40vh;
        height: 50vh;
        margin: auto auto;
        margin-top: 40px;

        background-color: #3d3838;
        border: 1px solid black;

    }
    .bloco{

        background-color: #c0c0c0;
        width: 155px;
        margin: auto auto;
        padding: 10px;
        justify-items: center;
        border: 1px solid white;

    }
}

@media ( min-width: 500px) {
    .containner{
        background-color: #3d3838;
        border: 1px solid black;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50vh;
        height: 50vh;
    }
    .bloco{
        background-color: #c0c0c0;
        margin: auto auto;
        padding: auto auto;
        justify-items: center;

    }
    .bloco label{
        display: block;
    }
    /* .bloco .info{
        display: inline;
        width: 45%;
    } */
    .bloco input{
        display:block;
    }
}